<!DOCTYPE html>
<html>
  <head>
    <title><%= title.chainese %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="http://pv.sohu.com/cityjson?ie=utf-8"></script>
    <script type="text/javascript" src="/javascripts/lib/jquery-2.1.4.js"></script>
    <script type="text/javascript" src="/javascripts/lib/swfobject.js"></script>
    <script type="text/javascript" src="/javascripts/sendData.js"></script>
    <style type="text/css">
      body{background-color: #c7cbbd;}
      #main{position: absolute;
            top: 0;
            left: 0;
            z-index: 100;
            width: 100%;
            height: auto;
            margin: 0;
            border: none;
            padding: 0;
            background-color: #c7cbbd;
            background-image: url(images/grayback.jpg);
            background-position-x: center;
            background-position-y: top;
            background-repeat: no-repeat;
            font-family: 微软雅黑;
            background-size: cover;
      }
      #main2{position: relative;background-color: rgba(0,0,0,0);width: 70%;
        left: 15%;}
      #headDiv{position: relative;left: 0px;top: 130px;border: 0px solid red;
        border-bottom: 1px solid gray;}
      #bodyDIv{position: relative;left: 0px;top: 130px;}
      h1{margin-top: 10px;margin-bottom: 7px;}
      p{margin-top: 7px;margin-bottom: 10px;font-size: 18px;font-style: normal;}
      li{font-size: 18px;list-style: none;}
      a{text-decoration: none;}
      .lidiv{height: 48px;width: 40%;font-size: 24px;background-color: rgba(225,225,225,0.7);
        color: rgb(65,131,196);font-weight: 600;padding-left: 2%;margin-bottom: 5px;
        box-shadow: rgb(152, 152, 152) 8px 1px 10px 0px;border-left: 5px solid rgb(85, 137, 91);
        border-radius: 3px 30% 30% 3px;line-height: 200%;}
    </style>
  </head>
  <body>
    <div id="main">
      <div id="main2">
        <div id="headDiv">
        	<h1><%= title.chainese %></h1>
        	<p><%= title.english %></p>
        </div>
        <div id="bodyDIv">
          <ul>
            <li><a href="http://www.cnblogs.com/littlepeng">
              <div class='lidiv'>个人博客</div></a></li>
            <li><a href="https://weibo.com/littlepeng223"><div class='lidiv'>个人微博</div></a></li>
            <li><a href="https://github.com/peng223"><div class='lidiv'>gitHub</div></a></li>
            <hr>
            <li><a href="wuziqiPlay"><div class='lidiv'>小鹏五子棋</div></a></li>
            <li><a href="games/jiajian"><div class='lidiv'>加减大师</div></a></li>
            <li><a href="games/yanjianshoukuai"><div class='lidiv'>眼尖手快</div></a></li>
            <li><a href="games/plotting"><div class='lidiv'>公式作图</div></a></li>
            <li><a href="games/musicPlayer"><div class='lidiv'>小鹏音乐播放器</div></a></li>
            <li><a href="games/echart"><div class='lidiv'>数据可视化</div></a></li>
            <li><a href="games/fibonacci"><div class='lidiv'>斐波那契数列</div></a></li>
            <li><a href="games/tanchishe"><div class='lidiv'>贪吃蛇</div></a></li>
            <!-- <img  style="CURSOR: pointer" onclick="javascript:window.open('http://b.qq.com/webc.htm?new=0&sid=1255205410&o=127.0.0.1&q=7', '_blank', 'height=502, width=644,toolbar=no,scrollbars=no,menubar=no,status=no');"  border="0" SRC=http://wpa.qq.com/pa?p=1:1255205410:1 alt="点击这里给我发消息"> -->
          </ul>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      if(/android|iPad|iPhone/i.test(navigator.userAgent)){
        $('.lidiv').css('font-size','18px');
        $('.lidiv').css('width','90%');
      }
    </script>
  </body>
</html>
<!-- zPDKsse5r)ul -->