<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/javascripts/lib/jquery-2.1.4.js"></script>
    <script src="http://pv.sohu.com/cityjson?ie=utf-8"></script>
    <script type="text/javascript" src="/javascripts/sendData.js"></script>
    <style>
        
    </style>

  </head>
  <body>
        公式作图，站主正在构思当中。。。
        也许他很忙
  </body>
</html>