<!DOCTYPE html>
<html>
  <head>
	<style type="text/css">
		#top{font-size: 28px;font-style: italic;color:rgb(218,184,159)}
	</style>
	<script type="text/javascript">
		function begin() {
			alert(flag);
		}
	</script>
  </head>  
  <body style="background-image: url('/images/mainback.jpg');text-align:center">
            <a><span id="top" onclick="begin()">开始</span></a>
  </body>
</html>