<!DOCTYPE html>
<html>
  <head>
	<style type="text/css">
		#wanjia{height: 120px;width: 170px;background-color: black;}
		#name{font-size: 28px;color: white;}
		#time{color: white;}
	</style>
  </head>
  
  <body style="background-image: url('/images/leftback1.jpg')">
    <CENTER>
      <img alt="" src="/images/player.jpg">
      <div id="wanjia">
      	<span id="name">玩家</span><br>
      	<span id="time">用时：00-00-00<br>
      	倒计时：00-30-00<br>
      	得分：0<br></span>
      </div>
    </CENTER>
  </body>
</html>